aws_account_id = "111122223333"
aws_region     = "ap-southeast-1"

vpc_id         = "vpc-xxxx"
subnet_id      = "subnet-yyyy"

linux_ami_owner  = "099720109477" # Canonical
linux_ami_filter = "ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-*"
mongo_version    = "6.0"

eks_node_sg_id = "sg-eksnodes123"
public_access  = true

backup_bucket_name    = "arun-mongo-backups"
backup_prefix         = "mongo/stardb"
backup_cron           = "15 2 * * *"
backup_retention_days = 7
