# Target account & region
aws_account_id = "111122223333"
aws_region     = "ap-southeast-1"
assume_role_arn = "" # e.g., arn:aws:iam::111122223333:role/TerraformDeploy (leave empty if same account)

# Networking
vpc_id        = "vpc-xxxx"
subnet_id     = "subnet-yyyy"
eks_node_sg_id = "sg-eksnodes123"
ssh_ingress_cidr = "0.0.0.0/0"
allowed_cidrs = []

# Instance
instance_name  = "mongodb-ec2"
instance_type  = "t3.medium"
key_name       = null
root_volume_gb = 16
data_volume_gb = 100

# AMI & Mongo versions
linux_ami_owner  = "099720109477" # Canonical (Ubuntu)
linux_ami_filter = "ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-*"
mongo_version    = "6.0"
public_access    = true

# Backups
backup_bucket_name      = "your-unique-mongo-backups-bucket"
backup_prefix           = "mongo/stardb"
backup_cron             = "15 2 * * *"
backup_retention_days   = 7
